.App {
  margin-left: 10%;
  margin-right: 30%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}
.App input {
  margin-top: 20px;
  width: 300px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
}
p {
  margin: 10px;
  font-size: 18px;
}
.searchbox {
  margin: auto;
}
* {
  box-sizing: border-box;
}
.searchbox input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

.searchbox button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.searchbox button:hover {
  background: #0b7dda;
}
.searchbox::after {
  content: "";
  clear: both;
  display: table;
}
.user:hover {
  background-color: #ffffe0;
}
body,
html {
  font-family: "Montserrat", sans-serif;
  background-color: white;
}

.card {
  width: 360px;
  display: block;
  margin: 10px auto;
}
